In [ ]:
import requests
import json
import xml.etree.ElementTree as ET  # for parsing XML
import swat
import pandas as pd
import swat
from flatten_json import flatten

In [2]:
response = requests.get("https://fhir.epic.com/interconnect-fhir-oauth/api/FHIR/R4/Patient/erXuFYUfucBZaryVksYEcMg3")

In [3]:
response = requests.get("https://randomuser.me/api/")

In [4]:
print(response.status_code)

200

In [5]:
print(response.content)

b'{"results":[{"gender":"female","name":{"title":"Miss","first":"Kaitlin","last":"Newman"},"location":{"street":{"number":8018,"name":"Main Street"},"city":"Derby","state":"Central","country":"United Kingdom","postcode":"IM9 6TB","coordinates":{"latitude":"-7.0270","longitude":"179.1568"},"timezone":{"offset":"-3:00","description":"Brazil, Buenos Aires, Georgetown"}},"email":"kaitlin.newman@example.com","login":{"uuid":"8a45c641-5f61-4e4a-a3d3-157d4b67317f","username":"brownbutterfly427","password":"spanish","salt":"9Ad7rOOl","md5":"d3f8cdc03f26f30b94118cde61fa20e3","sha1":"f7fcdb08e0c665f2207fe6be31306bbd66864039","sha256":"65bd608b9d2f281422c44f8ca677cbb990386907f5b79c44968d3d8922087c1f"},"dob":{"date":"1971-02-28T09:27:49.641Z","age":52},"registered":{"date":"2018-12-10T03:09:39.929Z","age":4},"phone":"016977 8242","cell":"07183 993081","id":{"name":"NINO","value":"CW 72 85 30 K"},"picture":{"large":"https://randomuser.me/api/portraits/women/24.jpg","medium":"https://randomuser.me/api/portraits/med/women/24.jpg","thumbnail":"https://randomuser.me/api/portraits/thumb/women/24.jpg"},"nat":"GB"}],"info":{"seed":"efb35801aa9ab3cb","results":1,"page":1,"version":"1.4"}}'

In [7]:
data = response.json()

In [8]:
data

{'results': [{'gender': 'female',
   'name': {'title': 'Miss', 'first': 'Kaitlin', 'last': 'Newman'},
   'location': {'street': {'number': 8018, 'name': 'Main Street'},
    'city': 'Derby',
    'state': 'Central',
    'country': 'United Kingdom',
    'postcode': 'IM9 6TB',
    'coordinates': {'latitude': '-7.0270', 'longitude': '179.1568'},
    'timezone': {'offset': '-3:00',
     'description': 'Brazil, Buenos Aires, Georgetown'}},
   'email': 'kaitlin.newman@example.com',
   'login': {'uuid': '8a45c641-5f61-4e4a-a3d3-157d4b67317f',
    'username': 'brownbutterfly427',
    'password': 'spanish',
    'salt': '9Ad7rOOl',
    'md5': 'd3f8cdc03f26f30b94118cde61fa20e3',
    'sha1': 'f7fcdb08e0c665f2207fe6be31306bbd66864039',
    'sha256': '65bd608b9d2f281422c44f8ca677cbb990386907f5b79c44968d3d8922087c1f'},
   'dob': {'date': '1971-02-28T09:27:49.641Z', 'age': 52},
   'registered': {'date': '2018-12-10T03:09:39.929Z', 'age': 4},
   'phone': '016977 8242',
   'cell': '07183 993081',
   'id': {'name': 'NINO', 'value': 'CW 72 85 30 K'},
   'picture': {'large': 'https://randomuser.me/api/portraits/women/24.jpg',
    'medium': 'https://randomuser.me/api/portraits/med/women/24.jpg',
    'thumbnail': 'https://randomuser.me/api/portraits/thumb/women/24.jpg'},
   'nat': 'GB'}],
 'info': {'seed': 'efb35801aa9ab3cb',
  'results': 1,
  'page': 1,
  'version': '1.4'}}

In [9]:
# keys() method returns a view object. The view object contains the keys of the dictionary, as a list
data.keys()

dict_keys(['results', 'info'])

In [35]:
type(json['results'][0])
#type(json['results'][0]) is a dict. So weâ€™ve got a list of dicts!

dict

In [10]:
df = pd.DataFrame(data['results'])

In [16]:
df.head()

,gender,name,location,email,login,dob,registered,phone,cell,id,picture,nat
0,female,"{'title': 'Miss', 'first': 'Kaitlin', 'last': ...","{'street': {'number': 8018, 'name': 'Main Stre...",kaitlin.newman@example.com,{'uuid': '8a45c641-5f61-4e4a-a3d3-157d4b67317f...,"{'date': '1971-02-28T09:27:49.641Z', 'age': 52}","{'date': '2018-12-10T03:09:39.929Z', 'age': 4}",016977 8242,07183 993081,"{'name': 'NINO', 'value': 'CW 72 85 30 K'}",{'large': 'https://randomuser.me/api/portraits...,GB

In [17]:
d = df['results']

KeyError: 'results'

In [19]:
df_normalized = pd.json_normalize(df, 'location')

TypeError: gender has non list value d for path 3. Must be list or null.